@use "veela-lib" as *;

//
@layer box-with-sidebar {
    :host {
        &, :where(*), ::slotted(*) {
            overflow: hidden;
            scrollbar-width: none;
            scrollbar-color: transparent transparent;
            scrollbar-gutter: auto;
            border: none 0px transparent;
            outline: none 0px transparent;
            padding: 0px;
            margin: 0px;
            line-height: 0;
            box-sizing: border-box;
            background-color: transparent;
            user-select: none;
            -webkit-tap-highlight-color: transparent;
            content-visibility: visible;
            gap: 0px;
        }

        & {
            --ui-shadow-soft: #0002;
        }

        & {
            --button-inline-size: 4rem;
            --sidebar-inline-grid-size: max-content;

            //
            display: grid !important;
            grid-template-columns:
                [sidebar-col] minmax(0px, var(--sidebar-inline-grid-size))
                [button-col] minmax(0px, var(--button-inline-size))
                [content-col] minmax(0px, 1fr) !important;
            grid-template-rows: [bar-row] minmax(0px, 4rem) [content-row] minmax(0px, 1fr) !important;
            inline-size: stretch;
            block-size: stretch;
            position: relative;
            background-color: transparent;
            container-type: inline-size;
            gap: 0px;
            padding: var(--padding-sm);
            perspective: 1000;

            //
            @container (min-inline-size: 800px) {
                --button-inline-size: 0px;
            }

            //
            @container (max-inline-size: 800px) {
                padding: 0px;
                --sidebar-inline-grid-size: 0px;
            }
        }

        // bar
        .bar {
            display: grid;
            flex-direction: row;
            inline-size: stretch;
            min-block-size: 2rem;
            block-size: fit-content;
            max-block-size: stretch;
            grid-column: 1 / -1;
            grid-row: bar-row;
            z-index: 3;
            background-color: transparent;
            color: --c2-on-surface(0.0, var(--current, currentColor));
            overflow: hidden;
            place-content: center;
            place-items: center;
            box-shadow: none;
            padding: 0px;
            padding-inline: 0px;
            grid-template-columns: subgrid;
            grid-template-rows: minmax(0px, max-content);
            gap: 0px;
            pointer-events: none;

            //
            ::slotted([slot="bar"]) {
                inline-size: stretch;
                block-size: stretch;
                place-content: center;
                place-items: center;
                flex-grow: 1;
                grid-column: 3 / -1;
                grid-row: 1 / 1 span;
            }

            //
            button {
                display: flex;
                flex-direction: row;
                gap: 0rem;
                aspect-ratio: 1 / 1;
                min-block-size: 2.5rem;
                block-size: fit-content;
                inline-size: fit-content;
                box-sizing: border-box;
                color: --c2-on-surface(0.0, var(--current, currentColor));
                place-content: center;
                place-items: center;
                padding: 0.333rem;
                transition: background-color 0.12s linear;
                border-radius: 0.5rem;
                border: 0px none transparent;
                outline: 0px none transparent;
                cursor: pointer;
                background-color: transparent;
                grid-column: 1 / 2 span;
                grid-row: 1 / 1 span;
                pointer-events: auto;

                //
                @media (hover: hover) {
                    &:hover {
                        background-color: --c2-surface(0.1, var(--current, currentColor));
                    }
                }

                //
                &:active {
                    background-color: --c2-surface(0.1, var(--current, currentColor));
                }

                //
                span {
                    display: block;
                    font-size: 0.8rem;
                    font-weight: 400;
                    color: --c2-on-surface(0.0, var(--current, currentColor));
                    padding-inline-end: 0.333rem;
                }
            }

            ui-icon {
                color: --c2-on-surface(0.0, var(--current, currentColor));
                --icon-color: --c2-on-surface(0.0, var(--current, currentColor));
            }
        }

        .content-box {
            display: grid !important;
            grid-template-columns: subgrid;
            grid-template-rows: subgrid;
            grid-column: 1 / -1 !important;
            grid-row: 1 / -1 !important;
            z-index: 1;
            border-radius: 0.25rem;
            overflow: hidden;
            box-shadow: none;
            contain: none;
            gap: 0px;

            background: none;
            background-color: transparent;
        }

        // sidebar
        .sidebar {
            & {
                display: flex;
                flex-direction: column;
                gap: 0px;
                grid-column: 1 / 1 span;
                grid-row: 2 / -1;
                z-index: 2;
                overflow: hidden;
                border-radius: 0.5rem;
                padding: 0px !important;
                box-shadow: none;
                justify-content: start;
                transform: translateX(0px);

                & { min-inline-size: clamp(min(20rem, 100%), max(16rem, 10cqi), 100cqi); }
            }

            @container (min-inline-size: 800px) {
                grid-row: 1 / -1;
            }

            & { min-block-size: 0px; }

            ::slotted([slot="sidebar"]) {
                inline-size: stretch;
                block-size: stretch;
                flex-grow: 1;
                place-content: center;
                place-items: center;
                line-height: normal;
                align-content: start;
                padding: 0rem;
                box-shadow: none;
                gap: 0px;
            }

            //
            @container (max-inline-size: 800px) {
                & {
                    transform: translate3d(-100%, 0, 0);
                    transition: transform var(--transition-medium, 0.28s) ease, box-shadow var(--transition-medium, 0.28s) ease;
                    pointer-events: none;
                }

                &:is([data-visible], [data-visible=""]) {
                    transform: translate3d(0, 0, 0);
                    box-shadow: 0 0 1rem var(--ui-shadow-soft);
                    pointer-events: auto;

                    @starting-style {
                        transform: translate3d(-100%, 0, 0);
                        box-shadow: none;
                    }
                }

                &[data-visible="false"] {
                    pointer-events: none;
                }
            }
        }

        // content box
        .content {
            display: grid !important;
            flex-direction: column;

            //
            inline-size: stretch;
            block-size: stretch;

            //
            max-inline-size: none;
            max-block-size: none;

            grid-template-columns: subgrid;
            grid-template-rows: subgrid;

            //
            grid-template-columns:
                [sidebar-col] minmax(0px, 0px)
                [button-col] minmax(0px, var(--button-inline-size))
                [content-col] minmax(0px, 1fr);
            grid-template-rows: [bar-row] minmax(0px, 4rem) [content-row] minmax(0px, 1fr);

            //
            grid-column: 1 / -1;
            grid-row: 1 / -1;

            z-index: 1;
            overflow: hidden;

            background: none;
            background-color: transparent;

            box-shadow: none;
            contain: none;
            gap: 0px;

            container-type: inline-size;

            //
            &::slotted(*) {
                will-change: contents;
                display: grid;
                inline-size: stretch;
                block-size: stretch;
                flex-grow: 1;
                place-content: center;
                place-items: center;
                box-shadow: none;
                grid-row: 2 / -1;
                grid-column: 2 / -1;
                gap: 0px;
            }

            &::slotted([aria-hidden="true"], [data-hidden], :not([data-active])) {
                display: none !important;
            }
        }

        @container (min-inline-size: 800px) {
            & {
                .content {
                    grid-column: content-col !important;
                }

                .sidebar {
                    grid-column: sidebar-col !important;
                    transform: translateX(0px);
                }

                .bar button {
                    display: none;
                }
            }
        }
    }
}
